<!DOCTYPE html>
<html ng-app="starter">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>@ViewBag.Title</title>
   
    @Scripts.Render("~/bundles/modernizr")    
    @Styles.Render("~/Content/weui")
    @Styles.Render("~/Content/mobile")   
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
